SECRET_KEY=your_secret_key_here
ACCESS_TOKEN_EXPIRE_MINUTES=60
ALGORITHM=HS256

ADMIN_USERNAME=your_admin_username_here
ADMIN_PASSWORD=your_admin_password_here
ADMIN_EMAIL=your_admin_email_here
ADMIN_NAME=your_admin_name_here